

<html xmlns:th="http://www.thymeleaf.org">


    <div class="banner" th:fragment="header">
        <ul>
            <li class="logo-item"> <img th:src="kino.png" width="80%" height="20%" href="/index">
            </li>
            <li class="login-item">
                <div th:replace="fragments/login :: loginBtn" width="80%" height="20%">

                </div>
            </li>
        </ul>
        <style>
            .banner{
                display: inline;
                line: center;
                width: 70%;
                height: 25%;}
            li{
                display: inline-block;}
            .logo-item{
                float: left;}
            .login-item{
                float: right;}
        </style>
    </div>
