<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="MyCSS.css">
    <style>
        table{
            border: white;
            color: white;
            background-color: black;
        }

        tr{
            border: white;
            color: white;
            background-color: black;
        }

        th{
            border: white;
            color: white;
            background-color: black;
        }
    </style>
</head>
<body style="background-color: black">

    <header th:replace="fragments/header :: header">
    </header>

    <main style="padding-left: 7vw">
        <div>

            <h1 style="color: white">Bookinger:</h1>
            <table border="1">
                <thead>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Film</th>
                <th>Sal</th>
                <th>Sædenummer</th>
                </thead>
                <tbody>
                <tr th:each="reservation : ${reservation}">
                    <td th:text="${reservation.getFirstName()}"></td>
                    <td th:text="${reservation.getLastName()}"></td>
                    <td th:text="${reservation.getMovie_title()}"></td>
                    <td th:text="${reservation.getTheater_id()}"></td>
                    <td th:text="${reservation.getSeat_nr()}"></td>
                    <form action="/filterReservation/deleteReservation" method="post">
                        <input type="hidden" id="reservationId" name="reservationId" th:value="${reservation.getReservation_id()}">
                        <td><input type="submit" style="background: red; color: white" value="Slet"></td>
                    </form>
                </tr>
                </tbody>
            </table>

        </div>
    </main>

</body>
</html>