<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KinoXp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="MyCSS.css">

    <!--<link th:href="@{homeStyle.css}" rel="stylesheet"/>-->

    <style>
        div{
            color: white;
        }
    </style>

</head>
<body style="background-color: black">

<header th:replace="fragments/header :: header">
</header>

<main>
    <div class="container">
        <form action="/" method="post">
            <input type="date" name="pickedDate" th:value="${currentDate}">
            <input type="submit" value="Vælg dato" style="background: red; height: 5vh; color: white">
        </form>
    </div>

    <div class="container">
        <hr/>
        <div class="row justify-content-center">
            <span class="services" style="padding: 30px" th:each="movie:${movieList}">



                <img width="200" height="300" th:src="${movie.poster}" alt="MoviePoster">


                <p th:text="${movie.title}"></p>
                <p th:text="'Varighed: ' + ${movie.duration} + ' minutter'"></p>
                <p th:text="${movie.price_rank}"></p>
                <p th:text="${movie.actors}"></p>
                <p th:text="${movie.genre}"></p>

                <a th:each="key : ${movieMap.keySet()}">

                     <a th:if="${key.contains(movie.getTitle())}">

                         <a th:if="${key.contains('15-00')}">
                             <a th:if="${movieMap.get(key)==0}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'15-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #f44336">15:00</a> <!--no seats left, color = red -->
                             <a th:if="${movieMap.get(key)==1}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'15-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #ff9900">15:00</a> <!-- <75% seats left, color yellow -->
                             <a th:if="${movieMap.get(key)==2}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'15-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #4CAF50" >15:00</a> <!-- no seats taken, color = green -->
                         </a>

                         <a th:if="${key.contains('18-00')}">
                             <a th:if="${movieMap.get(key)==0}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'18-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #f44336">18:00</a> <!--no seats left, color = red -->
                             <a th:if="${movieMap.get(key)==1}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'18-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #ff9900">18:00</a> <!-- <75% seats left, color yellow -->
                             <a th:if="${movieMap.get(key)==2}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'18-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #4CAF50">18:00</a> <!-- no seats taken, color = green -->
                         </a>

                         <a th:if="${key.contains('21-00')}">
                             <a th:if="${movieMap.get(key)==0}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'21-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #f44336" >21:00</a> <!--no seats left, color = red -->
                             <a th:if="${movieMap.get(key)==1}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'21-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #ff9900" >21:00</a> <!-- <75% seats left, color yellow -->
                             <a th:if="${movieMap.get(key)==2}" th:href="@{'/create-reservation/select-seats/'+${movie.getTitle()} + '/' + ${'21-00'}+ '/' + ${currentDate} + '/' + ${'1'}}" class="btn btn-success" style="background-color: #4CAF50" >21:00</a> <!-- no seats taken, color = green -->
                         </a>
                         <a th:if="${key.contains('10-00')}">
                             <a th:if="${movieMap.get(key)==0}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${10-00}}" class="btn btn-success" style="background-color: #4CAF50">10:00</a> <!--no seats left, color = red -->
                             <a th:if="${movieMap.get(key)==1}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${10-00}}" class="btn btn-success" style="background-color: #ff9900">10:00</a> <!-- <75% seats left, color yellow -->
                             <a th:if="${movieMap.get(key)==2}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${10-00}}" class="btn btn-success" style="background-color: #4CAF50" >10:00</a> <!-- no seats taken, color = green -->
                         </a>
                         <a th:if="${key.contains('12-00')}">
                             <a th:if="${movieMap.get(key)==0}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${12-00}}" class="btn btn-success" style="background-color: #f44336">12:00</a> <!--no seats left, color = red -->
                             <a th:if="${movieMap.get(key)==1}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${12-00}}" class="btn btn-success" style="background-color: #ff9900">12:00</a> <!-- <75% seats left, color yellow -->
                             <a th:if="${movieMap.get(key)==2}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${12-00}}" class="btn btn-success" style="background-color: #4CAF50">12:00</a> <!-- no seats taken, color = green -->
                         </a>
                         <a th:if="${key.contains('14-00')}">
                             <a th:if="${movieMap.get(key)==0}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${14-00}}" class="btn btn-success" style="background-color: #f44336" >14:00</a> <!--no seats left, color = red -->
                             <a th:if="${movieMap.get(key)==1}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${14-00}}" class="btn btn-success" style="background-color: #ff9900" >14:00</a> <!-- <75% seats left, color yellow -->
                             <a th:if="${movieMap.get(key)==2}" th:href="@{'/create-reservation' + ${movie.getTitle()} + '/' + ${14-00}}" class="btn btn-success" style="background-color: #4CAF50" >14:00</a> <!-- no seats taken, color = green -->
                         </a>

                     </a>

                </a>
            </span>

        </div>
    </div>


</main>


<footer>
    <div th:replace="fragments/footer"/>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>
</html>